@import "tailwindcss";
body {
  @apply bg-black text-white transition-colors duration-300;
}
.glow {
  background: radial-gradient(circle, rgba(124,58,237,0.3) 0%, rgba(0,0,0,0) 70%);
}
.timeline-glow {
  background: radial-gradient(circle, rgba(124,58,237,0.2) 0%, rgba(0,0,0,0) 70%);
}

.cv-glow {
  background: radial-gradient(circle, rgba(124,58,237,0.25) 0%, rgba(0,0,0,0) 70%);
}
.contact-glow {
  background: radial-gradient(circle, rgba(236,72,153,0.2) 0%, rgba(0,0,0,0) 70%);
}
